.header {
    display: flex;
    justify-content: space-between;
    border: 1px solid sandybrown;
    padding-right: 50px;
    background-color: whitesmoke;
    border-radius: 5px;
}

.logo {
    padding-left: 10px;
    padding-top: 15px;
    padding-bottom: 15px;
}

.nav-items>ul {
    display: flex;
    list-style: none;
    font-size: 24px;
}

.nav-items>ul>li:hover  {
    cursor: pointer;
    color: chocolate; 
    
}

.nav-items>ul>li {
    padding: 10px;
    margin: 10px;
}

.search {
    padding: 10px;
    display: flex;
    
}

.filter-btn  {
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border-color: floralwhite;
    background-color: bisque;    
}
.filter-btn:hover  {
    border-color: chocolate;
    cursor: pointer; 
}

.restro-container {
    display: flex;
    flex-wrap: wrap;
    
}
.shimmar-container {
    display: flex;
    flex-wrap: wrap;
}

.restro-card {
    width: 200px;
    border-radius: 5px;
    background-color: #f5deb3;
    padding: 10px;
    margin: 5px;
    

}
.shimmar-card {
    width: 200px;
    height: 350px;
    border-radius: 5px;
    background-color: whitesmoke;
    padding: 10px;
    margin: 5px;
}

.restro-card:hover {
    border: 2px solid sandybrown;
    cursor: pointer;
}

.shimmar-card:hover {
    border: 1px solid sandybrown;
    cursor: pointer;
}

.logo-1 {
    width: 100%;
    border-radius: 5px;
    height: 150px;
}

.log-button {
    padding: 10px;
    border-radius: 15px;
}
.log-button:hover  {
    border-color: chocolate;
    cursor: pointer; 
}


.filter-search {
    padding: 16px;
}

.input {
    border-radius: 5px;
    background-color: bisque;
    
}


.input:hover{
    border-color: chocolate;
    background-color: bisque;
    cursor:text;
}

.search-Btn {
    border-radius: 5px;
    background-color: bisque;
}

.search-Btn:hover {
    border-color: chocolate;
    background-color: bisque;
    cursor: pointer; 
}

.link-style {
    text-decoration: none; /* Remove underline from the link */
    color: inherit; /* Inherit color from parent, ensuring the link does not change color */
}

.restro-Menu {
    width: 250px;
    border-radius: 10px;
    background-color: rgb(252, 199, 154);
    padding: 15px;
    margin: 15px;
}

.restro-Menu:hover {
    border: 5px solid rgb(228, 99, 52);
    cursor: pointer;
}

    